<div class="bg-neutral-800 fixed bottom-0 left-0 right-0">
  <div class="max-w-screen-xl mx-auto py-6 flex flex-col space-y-4">
    <p class="text-neutral-50 text-center text-xs">
      We use cookies for two reasons: to give you the best experience on ASOS,
      and to make sure the ASOS ads you see on other sites are relevant. By
      continuing, you agree to our use of cookies &mdash; find out more
      <a href="#" class="font-extrabold">here</a>.
    </p>
    <button
      type="button"
      class="
        text-neutral-800
        bg-neutral-300
        uppercase
        font-bold
        text-xs
        self-center
        px-16
        py-1
        leading-none
      "
    >
      Accept
    </button>
  </div>
</div>
