@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-primary {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.nav-primary:hover {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.max-w-40 {
  max-width: 160px;
}

.max-h-5\/6 {
  max-height: 83.333333%;
}

.trends-list:hover :not(.trends-list-item:hover) a {
  opacity: 0.4;
}
