<div class="flex divide-x divide-neutral-50">
  <a
    href="#"
    class="
      flex flex-col
      items-center
      justify-center
      grow
      py-0.5
      bg-red-500
      text-neutral-900
    "
  >
    <span class="block text-xs leading-snug font-bold"
      >GET 20% OFF ALMOST EVERYTHING!*</span
    >
    <span class="block text-xs leading-snug font-bold">With code: TREATME</span>
    <span class="block text-xs leading-snug font-bold"
      >FESTIVE TREATS FOR EVERYONE!</span
    >
  </a>
  <a
    href="#"
    class="
      flex flex-col
      items-center
      justify-center
      grow
      py-0.5
      bg-neutral-900
      text-neutral-50
    "
  >
    <span class="block text-xs leading-snug font-bold">PREMIER DELIVERY</span>
    <span class="block text-xs leading-snug"
      >Unlimited free Next-Day Delivery for a whole a year for £9.95.</span
    >
  </a>
</div>
