---
layout: base
title: Home | ASOS
---

<div class="bg-red-500 border-t border-t-neutral-50 pt-6 px-4 pb-2">
  <a
    href="#"
    class="max-w-screen-sm flex flex-col mx-auto text-center text-neutral-900"
  >
    <img src="/img/outlet.webp" alt="ASOS Outlet" class="self-center" />
    <span class="text-4xl italic font-black mt-4"
      >UP TO 75% OFF BRAND FAVES!</span
    >
    <span class="text-4xl italic font-black"
      >FT. LEE, TOMMY HILFIGER &amp; CALVIN KLEIN</span
    >
  </a>
  <span class="block text-center text-neutral-900 text-xs mt-3"
    >Limited time only. Selected styles marked down on site.</span
  >
</div>
<section class="bg-neutral-50">
  <div class="space-y-16 py-12">
    <div class="max-w-screen-xl mx-auto grid grid-cols-4 gap-x-4 gap-y-12 px-4">
      <a href="#" class="block col-span-4 relative py-72">
        <div
          class="
            z-10
            absolute
            inset-0
            bg-gradient-to-b
            from-transparent
            via-transparent
            to-neutral-700
          "
        ></div>
        <div class="absolute inset-0">
          <!-- prettier-ignore -->
          {% image "bruce-mars-unsplash.jpg", "Photo by Bruce Mars on Unsplash", "w-full h-full object-cover" %}
          <!-- prettier-ignore end -->
        </div>
        <div
          class="z-20 absolute left-0 right-0 bottom-16 text-center space-y-12"
        >
          <h2 class="text-neutral-50 text-5xl font-extrabold">
            Tis the ski-son
          </h2>
          <span
            class="
              block
              max-w-40
              mx-auto
              py-2
              bg-neutral-50
              text-neutral-900
              font-bold
              uppercase
              transition
              ease-in
              duration-300
              hover:bg-neutral-900 hover:text-neutral-50
            "
            >Shop trends</span
          >
        </div>
      </a>
      <a href="#" class="flex flex-col">
        <div class="flex-1 max-h-96">
          <!-- prettier-ignore -->
          {% image "andres-hernandez-unsplash.jpg", "Photo by Andres Hernandez on Unsplash", "h-full object-cover" %}
          <!-- prettier-ignore end -->
        </div>
        <div class="p-4 text-center space-y-2">
          <h3 class="uppercase font-bold">Winter Accessories</h3>
          <span class="block text-sm">Feel the heat</span>
        </div>
      </a>
      <a href="#" class="flex flex-col">
        <div class="flex-1 max-h-96">
          <!-- prettier-ignore -->
          {% image "clarisse-meyer-unsplash.jpg", "Photo by Clarisse Meyer on Unsplash", "h-full object-cover" %}
          <!-- prettier-ignore end -->
        </div>
        <div class="p-4 text-center space-y-2">
          <h3 class="uppercase font-bold">Logo Life</h3>
          <span class="block text-sm">Crooked Tongues &amp; more</span>
        </div>
      </a>
      <a href="#" class="flex flex-col">
        <div class="flex-1 max-h-96">
          <!-- prettier-ignore -->
          {% image "dani-navarro-unsplash.jpg", "Photo by Dani Navarro on Unsplash", "h-full object-cover" %}
          <!-- prettier-ignore end -->
        </div>
        <div class="p-4 text-center space-y-2">
          <h3 class="uppercase font-bold">The gifting goods</h3>
          <span class="block text-sm">Present and correct</span>
        </div>
      </a>
      <a href="#" class="flex flex-col">
        <div class="flex-1 max-h-96">
          <!-- prettier-ignore -->
          {% image "ksenia-varapaeva-unsplash.jpg", "Photo by Ksenia Varapaeva on Unsplash", "h-full object-cover" %}
          <!-- prettier-ignore end -->
        </div>
        <div class="p-4 text-center space-y-2">
          <h3 class="uppercase font-bold">Adidas</h3>
          <span class="block text-sm">Stripe it lucky</span>
        </div>
      </a>
    </div>
    <div
      class="
        bg-gradient-to-r
        from-red-500
        to-green-400
        text-center
        pt-8
        pb-3
        space-y-4
      "
    >
      <a
        href="#"
        class="
          block
          max-w-screen-md
          mx-auto
          uppercase
          font-bold
          text-lg
          leading-6
          text-neutral-900
        "
      >
        Want to get it in time for christmas day?<br />
        <span class="capitalize">Order by 23 December</span>
      </a>
      <span class="block text-xs"
        >JSYK, we've extended our returns window until 31 January!</span
      >
    </div>
  </div>
</section>
