---
layout: base
title: Home | ASOS
---

<div class="bg-red-500 border-t border-t-neutral-50 pt-6 px-4 pb-2">
  <a
    href="#"
    class="max-w-screen-sm flex flex-col mx-auto text-center text-neutral-900"
  >
    <img src="/img/outlet.webp" alt="ASOS Outlet" class="self-center" />
    <span class="text-4xl italic font-black mt-4"
      >UP TO 75% OFF BRAND FAVES!</span
    >
    <span class="text-4xl italic font-black"
      >FT. LEE, TOMMY HILFIGER &amp; CALVIN KLEIN</span
    >
  </a>
  <span class="block text-center text-neutral-900 text-xs mt-3"
    >Limited time only. Selected styles marked down on site.</span
  >
</div>
