---
title: Welcome | ASOS
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="output.css" />
  </head>
  <body class="relative h-screen w-screen">
    {% include header %}
    <main>{{ content }}</main>
    {% include cookie-banner %}
  </body>
</html>
