---
title: Welcome | ASOS
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="output.css" />
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
